* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: #dee8ff;
    font-family: "Inter", sans-serif;
}

a {
    text-decoration: unset;
    color: unset;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.site-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    height: 110px;
    display: flex;
    align-items: center;
    padding-block: 10px;
}

header .site-logo {
    color: black;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    font-family: "Oleo Script", sans-serif;
}

header a {
    text-decoration: none;
    color: #4D4D4D;
    font-weight: 600;
    padding: 5px 15px;
}

header a:hover {
    color: #161616;
    text-decoration: underline;
}

header button {
    cursor: pointer;
}

nav {
    display: flex;
}

main {
    margin-bottom: 50px;
}

input[type="checkbox"] {
    appearance: none;
    background-color: #fff;
    margin: 0;
    font: inherit;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid #424242;
    border-radius: 0.15em;
    transform: translateY(-0.075em);
    
    display: grid;
    place-content: center;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: #19678b;

    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.checkbox {
    display: grid;
    grid-template-columns: 1em auto;
    gap: 0.5em;
}

.link-button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    border: none;
    padding: .75rem 1.375rem;
    color: initial;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.back-button {
    display: block;
    color: black;
    text-decoration: none;
    margin-left: 26px;
}

.back-button span:hover {
    text-decoration: underline;
}

.link-button:hover {
    transform: translate(1px, 1px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #276070;
}

::-webkit-scrollbar-thumb:hover {
    background: #264b64;
}

/*** HOME PAGE ***/
.home-banner {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.46), rgba(0, 0, 0, 0.46)), url("./assets/images/hydrangea-banner.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px;
    color: white;
    padding: 45px 23px;
}

.home-banner h1 {
    font-weight: 700;
    font-size: 2.25rem;
    line-height: 42px;
}

.home-banner p {
    line-height: 24px;
}

.home-banner a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    background-color: #59a2c4;
    border: none;
    width: 100%;
    margin-top: 27px;
    padding-block: .75rem;
    color: white;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    transition: transform .1s ease-in-out;
}

.home-banner a:hover {
    transform: translate(1px, 1px);
}

.home-changelog {
    padding-left: 20px;
}

/*** ABOUT PAGE ***/
.about-main-image {
    width: 100%;
    max-height: 400px;
}

.about-page-content {
    padding-inline: 23px;
    color: #161616;
    margin-bottom: 55px;
}

.about-page-content h1 {
    line-height: 38px;
}

.about-page-content p {
    line-height: 22px;
}

/*** MAN PAGES ***/
.man-page-container {
    padding-inline: 23px
}

.man-page-container > h1 {
    margin: 0;
}

.man-page-container button {
    margin-right: 20px;
    cursor: pointer;
}

.man-page-content-container {
    display: flex;
    margin-top: 50px;
}

.man-filter-container {
    display: flex;
    flex-wrap: wrap;
    max-height: 800px;
    max-width: 250px;
    min-width: 180px;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 7px;
    padding-right: 3px;
}

.man-filter-container > h2 {
    margin: 0;
}

.man-filter-form > button {
    margin: 20px 0 0 0;
}

.man-page-list {
    grid-column: 1 / span 2;
}

.man-list-no-results {
    grid-column: 1 / span 2;
}

.man-list {
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    gap: 34px;
    margin-left: 20px;
}

.man-tile {
    width: 400px;
}

.man-tile a {
    color: #161616;
    text-decoration: none;    
}

.man-tile img {
    max-width: 100%;
    border-radius: 5px;
}

.man-button {
    height: 34px;
    font-style: normal;
    font-weight: 500;
    border-style: none;
    border-radius: 5px;
    background-color: #59a2c4;
    color: #FFFFFF;
    transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
    
}

.man-button:hover {
    color: #000000;
}

.man-button.selected {
    color: #000000;
}

.man-button:focus {
    outline: none;
}

.man-detail-container {
    padding-inline: 27px;
}

.man-detail-container .back-button {
    color: black;
    text-decoration: none;
}

.man-detail-container .back-button span {
    text-decoration: underline;
}

.man-detail {
    display: flex;
    flex-direction: column;
    color: #161616;
}

.man-detail img {
    border-radius: 5px;
    margin-block: 47px 10px;
    max-width: 200px;
}

.man-detail h2 {
    font-size: 2rem;
    margin: 0 0 10px 0;
}

.man-detail > i {
    align-self: flex-start;
}

.man-detail-titles {
    margin: 0;
}

.man-detail > p {
    margin: 0 0 10px 0;
}

/*** TAG PAGE ****/
.tag-content {
    padding: 0 20px 0 20px;
}

.tag-header {
    margin: 0;
}

.tag-item  > a{
    text-decoration: underline;
}

.not-found-container {
    padding-inline: 26px;
}

.not-found-container .link-button {
    width: 100%;
    background-color: #161616;
    color: white;
}

.login-nav {
    padding: 20px 10px 0 10px;
    gap: 20px;
    background-clip: content-box;
    background-color: #6ba6ff;
}

.login-nav > a {
    font-size: 25px;
    margin: 8px 8px;
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 20px;
}

.login-container > h1 {
    margin-bottom: 0;
}

.login-error {
    color:red;
    margin: 5px 0 0px 0;
    font-size: 18px;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    margin-top: 15px;
}

.login-form > input {
    border: 1px solid rgb(0, 9, 141);
    height: 30px;
    text-indent: 7px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.46);
    border-radius: 3px;
}

.login-form > input:last-of-type {
    border-top: none;
}

.login-form > button {
    margin-top: 8px;
    height: 34px;
    border-style: none;
    border-radius: 5px;
    background-color: #59a2c4;
    color: #ffffff;
}

.login-form > button:hover {
    color: #000000;
    cursor: pointer;
}

.login-form > button:disabled {
    background-color: #b3b3b3;
    color:#000000;
    cursor: not-allowed;
}



